{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-10 mx-auto">
				<h1>Nombre d'artistes trouvés :
					{{ artists | length }}</h1>

				{% for artist in artists %}
					<span class="d-block">
						{{ artist.getName() |upper }}
						-
						<b class="btn-primary p-1">
							{{ artist.discs | length }}
						</b>
						disques
					</span>

					{% for disc in artist.discs %}
						<div>
							{{disc.title }}
						</div>
					{% else %}
						pas de disque
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
